html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.HeaderClass{
    display: flex;
    justify-content: space-between;
    width: 1024px;
    height: 100px;
    align-items: center;
    margin: auto;
}

.SweetasteLogo {
    top: 37px;
    left: 90px;
    width: 171px;
    height: 27px;
    float: left;
}

nav{
    display: flex;
    justify-content: center;
}

.NavItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 25px;
}

a{
    text-decoration: solid;
    color: #3F5D45;
}

.cart{
    color: #3F5D45;
}

.MainImg {
    width: 940px;
    height: 496px;
    display: block;
    margin: auto;
    object-fit: cover;
}

.container{
    margin: auto;
    position: relative;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.backdrop-blur{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.container-figure-today{
    background: url(https://bit.ly/2R5tqwD) no-repeat center center;
    background-size: cover;
    width: 260px;
    height: 256px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-figure-today > p{
    writing-mode: vertical-rl;
    font-family: "微軟正黑體";
    font-size: 26px;
    color: white;
    letter-spacing: 0.3em;
    text-align: center;
    position: relative;
    z-index: 3;
}


.container-figure-today:hover .container-figure-today-hover{
    display: block;

}

.container-figure-today-hover{
    display: none;
    background: #FFE180;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.container-figure-new{
    background: url(https://bit.ly/2Dwoxd7) no-repeat center center;
    background-size: cover;
    backdrop-filter: blur(5px);
    width: 260px;
    height: 256px;
    position: relative;
    display: flex;
    writing-mode: vertical-rl;
    font-family: "微軟正黑體";
    font-size: 26px;
    color: white;
    letter-spacing: 0.3em;
    align-items: center;
    justify-content: center;
    text-align: center;

}



.container-figure-new:hover .container-figure-new-hover{
    display: block;

}

.container-figure-new-hover{
    display: none;
    background: #3F5D45;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.container2{
    position: relative;
    margin: auto;
    width: 1024px;
    height: 420px;
    background: #EAF0ED;
    display: flex;
}

.FigureWhy{
    width: 89px;
    height: 307px;
    margin: -20px 30px 30px;
    display: flex;
}

.container2-figure{
    width: 460px;
    height: 460px;
    margin: -20px;
    padding: 0px 50px;
    display: flex;
}

.FigureMust{
    width: 89px;
    height: 307px;
    margin: -20px 30px 30px;
    display: flex;
}

.container2-text{
    writing-mode: vertical-rl;
    font-family: "微軟正黑體";
    font-size: 14px;
    color: #8DA291;
    display: inline;
    text-align: center;
    line-height: 40px;
    width: 256px;
    height: 280px;
    margin: 70px 90px;
}

.container3{
    position: relative;
    margin: auto;
    width: 1024px;
    height: 420px;
    background: white;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
}

.FigureNoReason{
    width: 89px;
    height: 307px;
    margin: auto;
    display: flex;
}

.container_items{
    position: relative;
    margin: auto;
    width: 940px;
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}



.special{
    position: absolute;
    width: 36px;
    height: 107px;
    writing-mode: vertical-lr;
    font-family: "微軟正黑體";
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2em;
    color: white;
    background-color: #3F5D45;
    border: 1px solid black;
    margin-left: 20px;
}

.heart{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 19px;
    margin-left: 258px;

}

.items{
    width: 300px;
    height: 315px;
}

.name_price{
    display: flex;
}

.item_name{
    width: 173px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    line-height: 56px;
    font-family: "微軟正黑體";
    font-size: 20px;
    color: #3F5D45;
}

.item_price{
    width: 127px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    line-height: 56px;
    font-family: "微軟正黑體";
    font-size: 20px;
    color: #3F5D45;
    font-weight: bold;
    border-left: 1px solid #EAF0ED;

}

.item_cart{
    display: flex;
    width: 300px;
    height: 65px;
    justify-content: center;
    text-align: center;
    line-height: 65px;
    font-family: "微軟正黑體";
    font-size: 24px;
    color: #3F5D45;
    background-color: #EAF0ED;
    font-weight: bold;
    border: none;

}

.container4{
    width: 1024px;
    height: 116px;
    display: flex;
    margin: auto;
    margin-top: 60px;
    background-color: #3F5D45;
    
    
}

.logo_dark{
    width: 40px;
    height: 40px;
    margin-top: 38px;
    margin-bottom: 38px;
    margin-left: 122px;
    
}

.c4_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    line-height: 116px;
    margin-left: 20px;
    color: white;
}

.footer{
    width: 1024px;
    height: 341px;
    margin: auto;
    padding-left: 122px;
    padding-top: 30px;
    padding-right: 121.72px;
    background-color: #EAF0ED;
    box-sizing: border-box; 
}

.footer-detail{
    display: flex;
    justify-content: space-between; 
    /* 沒有推開 */
}

.footer-logo{
    margin-top: 8.9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-lg-dark{
    width: 171px;
    height: 27px;
}

.c5-text{
    height: 68px;
    font-size: 16px;
    color: #3F5D45;
    text-align: left;
    font-family: "微軟正黑體";
}

.goodday{
    width: 59px;
    height: 219px;

}

.footer-media{
    display: flex;
    justify-content: space-between; 
    margin-top: 30px;
    align-items: flex-end;
}


.icon{
    width: 32px;
    height: 32px;
}

.copyright{

    vertical-align: bottom;

}